@font-face {
  font-family: Norse;
  src: url(assets/fonts/Norse-Bold.otf);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Courier New", Courier, monospace;
}

body {
  background-color: #0e0e0e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #f9fafb;
  width: 60%;
  height: 90%;
  display: flex;
}

.hero-image {
  flex: 1;
  background-image: url(assets/images/background-image.avif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.brand {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin-top: 16rem;
  width: 100%;
}

.brand > img {
  opacity: 1;
  height: 5rem;
}

.brand > p {
  color: #fff;
  font-size: 5rem;
  font-family: Norse, "Courier New", Courier, monospace;
}

.hero-image-footer {
  color: #fff;
  font-size: 10px;
  padding: 1rem;
}

.hero-image-footer > a {
  color: #fff;
  font-size: 10px;
}

.hero-input {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-input-text {
  font-size: 18px;
  width: 80%;
  margin-left: 2rem;
}

.hero-input-text > p:last-child {
  margin-top: 1rem;
}

.input-form {
  /* margin-left: 2rem; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.input-form > p {
  font-size: 1.5rem;
  color: #030d239e;
  margin-left: 2rem;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  margin-left: 2rem;
}

.inputs > div {
  display: flex;
  flex-direction: column;
}

label {
  color: #030d23d9;
  font-size: 0.8rem;
}
input {
  width: 15rem;
  height: 1.5rem;
  border: 1px solid #e5e7eb;
}

button {
  margin-top: 4rem;
  margin-left: 2rem;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #596d48;
  color: #e5e7eb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.input-footer {
  margin-left: 2rem;
}

.input-footer > a {
  color: #596d48;
  text-decoration: none;
}
